@import 'imports/variables';
@import 'imports/base';
@import 'imports/navbar';
@import 'imports/footer.scss';
@import 'imports/form.scss';
@import 'imports/carrusel';
@import 'imports/buscador';


#trespatines{
  background: #363a05;
  font-family: 'Lexend Mega', sans-serif;
  color: white;
  text-decoration: none;
  padding: 4px;
  border-radius: 5px;
  position: fixed;
  left: 1em;
  top: 1em;
}

h1 {
  color: $cor-1;
  filter: drop-shadow(1px 1px 1px black);
}
h2{
  color: $cor-1;
}
p{
  color: $cor-1;
}
::-webkit-scrollbar{
  width: 0;
}
#progressbar{
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 10px;
  width: 15px;
  height: 100%;
  background: linear-gradient(to top,rgb(88, 88, 207),rgb(88, 240, 88),rgb(235, 235, 119),rgb(211, 211, 241));
}
button{
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(83, 77, 19);
  color: white;
}
button:hover{
  cursor: pointer;
}
 #busqueda input {
  border-radius: 7px;
  margin: 20px;
  width: 25%;
}


article {
        width:100%;
        margin-top: 320px;
       // margin: auto;
        box-shadow: 0 0 8px rgb(142, 143, 119);
        padding: 1em 2em;
        box-sizing: border-box;
        overflow: hidden;
        overflow: auto;
        background: rgba(0, 0, 0, 0.3);
        
}
#geral{
 width:100%;
 margin: auto;
 box-shadow: 0 0 8px rgb(142, 143, 119);
 padding: 1em 2em;
 box-sizing: border-box;
 overflow: hidden;
 overflow: auto;
 background: rgba(0, 0, 0, 0.3);
        
}
/*section{
  width:100%;
  margin: auto;
  box-shadow: 0 0 8px rgb(142, 143, 119);
  padding: 1em 2em;
  box-sizing: border-box;
  overflow: hidden;
  overflow: auto;
  background: rgba(0, 0, 0, 0.3);
  
}*/
ul{
  text-align: left;
}

.btn-whatsapp {
  display:block;
  width:70px;
  height:70px;
  color:#fff;
  position: fixed;
  right:20px;
  bottom:20px;
  border-radius:50%;
  line-height:80px;
  text-align:center;
  z-index:999;
}