<footer id="main-footer">
 <p>&copy; 2019 Comédia Cubana| Desenvolvido por <a  target="blanck" href="https://www.facebook.com/nelismy.baro.90"> Estudante Nelismy Baró Torres</a>| Todos os dereitos reservados.</p>  
</footer>
  