

<nav class="menu" id="navegador">
  <ul >
    <li><a class="btn_nav" href="index.html"><strong> Inicio</strong></a></li>
    <li><a class="btn_nav" href="comedia.html"><strong> Humor Cubano</strong></a></li>
    <li><a class="btn_nav" href="videos.html"><strong> Vídeos</strong></a></li>
    <li><a class="btn_nav" href="buscador.html"><strong> Ghipy</strong></a></li>
  </ul>
 
</nav>
