{% extends "layouts/base.njk" %}

{% block content %}
<h1>Comédia Cubana</h1>
{% include "partials/navbar.njk" %}
<img id="trespatines" src="/assets/img/Caricatura-trespatines.jpg">
<div class="btn-whatsapp">
<a href="http://api.whatsapp.com/send?phone=+5521996430239" target="_blank">
<img src="/assets/img/telefone.jpg" alt=""></a>
</div>
<article id="geral">
<h2>La Tremenda Corte</h2>

<p>Um dos programas mais lendários e lembrados da comédia cubana é La tremenda corte.Foi um programa humorístico cubano transmitido na primeira metade do século XX. O programa destacou-se pelo estilo tradicional de humor, o típico humor cubano, adicionado à centelha espontânea dos atores, além dos jogos de palavras criativos usados.</p>
<h3>Personagens</h3>
<ul>
    <li><strong> Señor Juez</strong> – Anibal de Mar.</li>
    <li><strong> José Candelario Trespatines</strong> - Leopoldo Fernández.</li>
    <li><strong> Luz María Nananina</strong> – Mimí Cal.</li>
    <li><strong> Rudesindo Caldeiro y Escobiña</strong> - Adolfo Otero.</li>
    <li> <strong>Secretario</strong> - Miguel Ángel Herrera.</li>
    <li> <strong>Otro Secretario </strong>- Julito Díaz.</li>
    <li> <strong>Simplicio Bobadilla y Comejaibas</strong> - Erdwin Fernández.</li>
    <li><strong> Leoncio Garrotín y Rompecocos</strong> - Reinaldo Miravalles.</li>
    <li> <strong>Perico Jovellanos y Campoflorido</strong> - Wilfredo Fernández.</li>
    <li> <strong>Chino Wong</strong> - Emilio Ruiz.</li>
    <li><strong> Luz María Nananina </strong>- Norma Zúñiga (en TV).</li>
    <li><strong> Rudesindo Caldeiro y Escobiña</strong> - Florencio Castelló (en TV).</li>
    <li> <strong>Patagonio Tucumán y Bandoneón</strong> - Marco de Carlo.</li>
</ul>

<h2>Detrás de la Fachada</h2>

<p>Detrás de la Fachada, foi um programa humorístico da televisão cubana, realizado entre o final da década de 1950 e 1987, que contou com performances de artistas de destaque.
   O programa foi iniciado em 1957 com transmissão semanal.
   O programa foi desenvolvido em um prédio de apartamentos, com diferentes casais onde os eventos diários eram satirizados. O programa foi criado e escrito no início por Marcos Behemaras e dirigido por José Antonio Caìñas Sierra, então Arturo Liendo e Carballido Rey o escreveram.
   A figura central foi José Antonio Cepero Brito, com a condução e contra-configuração de Mimì Cal, sendo posteriormente substituído por Eloisa Alvarez Guedes, terminando nesse papel, Consuelito Vidal, que comentou e narrou situações que foram desenvolvidas pelos atores, ao mesmo tempo em que Ele permaneceu invisível para eles.
   Cepero Brito serviu de contra-figura e Consuelito fez piadas. A recepção do público foi decisiva nas mudanças introduzidas no espaço após a entrada do Consuelito. As altas classificações mantiveram o programa no ar por quase trinta anos.
   Até agora, a história do programa.</p>
   <h3>Personagens</h3>
   <ul>
       <li><strong>Alfredo Perojo.</strong></li>
       <li><strong>Rosario Carmona.</strong></li>
       <li><strong>Conchita Brando.</strong></li>
       <li><strong>Elena Bolaños.</strong></li>
       <li><strong>Enrique Arredondo.</strong></li>
       <li><strong>Eloisa Álvarez Guedes.</strong></li> 
   </ul>

<h2>San Nicolás del Peladero</h2>

<p>Era um programa satírico de humor popular cubano, com um excelente projeto, das décadas de 60 e 70, que expunha as falsidades da sociedade cubana pré-revolucionária e as impressões da vida política nacional.
   Este programa foi derivado de um anterior, escrito pelo próprio Carballido chamado Ritmos de Cuba, essencialmente musical, mas onde os primeiros esboços de Peladero apareceram e que eram muito do agrado do público, então o escritor decidiu modificar a estrutura do programa e seu conteúdo para levá-lo para outro formato, que apareceria com seu novo nome. Permaneceu na preferência do público por vinte anos: sua última transmissão ocorreu em 26 de dezembro de 1983.</p>
<h3>Personagens</h3>
<ul>
    <li><strong>Prefeito Plutarco Tuero:</strong> (Enrique Santiesteban),líder do Partido Liberal.</li>
    <li><strong>Prefeito Remigia:</strong> María de los Ángeles Santana, personagem de mulher elegante, com desejos de grandeza.</li>
    <li><strong>Montelongo Cañón:</strong> (Agustín Campos), do Partido Conservador.</li>
    <li><strong>Cheo Malanga:</strong> (Enrique Arredondo), guarda-costas do prefeito</li>
    <li><strong>Eufrates del Valle:</strong> (Germán Pinelli), nome eufemístico para encobrir sua função de defesa dos interesses do prefeito, conhecido cronista social e proprietário do jornal El Imparcial.</li>
    <li><strong>Ñico Rutina:</strong> (Carlos Moctezuma),afilhado do prefeito Remigia.</li>
    <li><strong>Sargento Arencibia:</strong> (Mario Limonta), cúmplice da guarda rural de Plutarco, com seu uniforme militar, sua voz grosseira, seu tabaco e sua atitude de bravata.</li>
    <li><strong>Mayordono Agamenón:</strong> (Frank Almeida),fiel servo do prefeito.</li>
    <li><strong>Simplicio:</strong> Carlos Más, esquálido, debruçado, com uma voz gotejante, sempre preso na pousada La Flor del Asia procurando algo para comer e acompanhado por uma noiva com características semelhantes.</li>
    <li><strong>Gallego Boticario:</strong> Juan Carlos Romero.</li>
</ul>
</article>



{% include "partials/footer.njk"%}
{% endblock %}