
{% extends "layouts/base.njk" %}

{% block content %}
<h1>Comédia Cubana</h1>

{% include "partials/navbar.njk" %}

<img id="trespatines" src="/assets/img/Caricatura-trespatines.jpg">
<div class="btn-whatsapp">
<a href="http://api.whatsapp.com/send?phone=+5521996430239" target="_blank">
<img src="/assets/img/telefone.jpg" alt=""></a>
</div>

<div class="content-all">
   <div class="content-carrousel">
       <figure><img src="/assets/img/1carru.jpg" ></figure>
       <figure><img src="/assets/img/2carru.jpg" ></figure>
       <figure><img src="/assets/img/3carru.jpg" ></figure>
       <figure><img src="/assets/img/4carru.jpg" ></figure>
       <figure><img src="/assets/img/5carru.jpg" ></figure>
       <figure><img src="/assets/img/6carru.jpg" ></figure>
       <figure><img src="/assets/img/7carru.jpg" ></figure>
       <figure><img src="/assets/img/8carru.jpg" ></figure>
       <figure><img src="/assets/img/9carru.jpg" ></figure>
       <figure><img src="/assets/img/10carru.jpg" ></figure>
   </div> 
</div>
<article>
<h2>O que é  Comédia?</h2>
<p>
    Uma visão contrastada e até contraditória do mundo: um mundo normal, geralmente um reflexo do público espectador, brinca e zomba do mundo normal de personagens diferentes, originais, ridículos e, portanto, cômicos. Esses personagens são necessariamente simplificados e generalizados, pois incorporam, de maneira sistemática e pedagógica, um defeito ou uma visão incomum do mundo. A comédia, ao contrário da tragédia, presta-se facilmente aos efeitos do estranhamento e se paralisa voluntariamente, destacando seus procedimentos e seu mundo ficcional. É um gênero com uma grande consciência de si mesmo e que funciona como uma metalinguagem crítica e como um teatro no teatro.
</p>
<h2> Origem e Evolução</h2>
<p>Quando os espanhóis invadem nossa cultura, seu teatro, como todos os povos europeus, está ligado ao culto religioso. A missa, uma celebração litúrgica central na religião cristã, é em si um "drama", uma representação da morte e ressurreição de Cristo. Serão os clérigos que, em seu desejo didático de explicar os mistérios da fé aos fiéis sem instrução e analfabetos, criam os primeiros diálogos teatrais: os tropos, com os quais eles encenaram alguns episódios relevantes da Bíblia. Essas representações, ocorridas no interior das igrejas, no coro ou parte central da nave, tornaram-se mais longas e espetaculares, dando origem a um tipo de teatro religioso que era o teatro medieval por excelência. Gradualmente, elementos profanos e cômicos foram adicionados a esses tipos de representações que, por razões de decoro, acabaram saindo das igrejas e começaram a ser realizadas em locais públicos: nos pórticos e átrios das igrejas, praças, ruas e cemitérios.
   O teatro medieval continua a definir a vida cênica na Espanha; até o século XVI, começa o caminho da modernização que culminará na criação de um gênero: a nova comédia do século XVII. O século XVI é, portanto, um tempo de busca e convivência de várias tendências: dramaturgia religiosa (Gil Vicente), classicismo (Juan de la Cueva), italianos (Juan del Encina, Bartolomé Torres Naharro) e tradição nacionalista (Juan de la Cueva). A peça dramática mais importante deste período é La Celestina, de Fernando de Rojas. Na verdade, é uma comédia humanista, feita mais pela leitura e reflexão do que pela cena. É uma obra excepcional, magnífico retrato da época e modelo de literatura galante posterior. É, no entanto, um trabalho de uma estrutura dramática tão complicada (cerca de 20 atos) que não foi representado em seu tempo e continua a ter enormes dificuldades para sua encenação.</p>
<h2>Nascimento e Desenvolvimento</h2>
<p>O século XVII é o século dourado do teatro na Espanha. O mundo é um ótimo teatro e o teatro é a arte mais apropriada para representar a vida. São criados os primeiros salões teatrais, chamados de canetas de comédia, administrados pelas Irmandades. Autores, obras e empresas proliferarão. O teatro não é mais um evento restrito para se tornar um produto competitivo, sujeito às leis de oferta e demanda. Um interessante debate teórico acompanha o nascimento e o desenvolvimento dessa nova maneira de entender o teatro. Dois autores da época servem para ilustrar o significado e a evolução desse debate e da arte teatral: Cervantes e Lope de Vega.</p>
</article>

{%include "partials/form.njk"%}
{% include "partials/footer.njk"%}
{% endblock %}


    

