{% extends "layouts/base.njk" %}

{% block content %}
<h1>Comédia Cubana</h1>
{% include "partials/navbar.njk" %}
<img id="trespatines" src="/assets/img/Caricatura-trespatines.jpg">
<div class="btn-whatsapp">
<a href="http://api.whatsapp.com/send?phone=+5521996430239" target="_blank">
<img src="/assets/img/telefone.jpg" alt=""></a>
</div>
<article id="geral">
<section>
<h2>La Tremenda Corte</h2>
<iframe width="200" height="200" src="https://www.youtube.com/embed/u6Hj8fGwsq4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/MsI2-QBSMTw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/PxU3sFY49p8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>
<section>
<h2>Detrás de la Fachada</h2>
<iframe width="200" height="200" src="https://www.youtube.com/embed/5ENqJ_TQaK0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/SPNreVeUsG8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/i-9YyIhLFbQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>
<h2>Jura Decir La Verdad?<h2>
<section>
<iframe width="200" height="200" src="https://www.youtube.com/embed/smihjH-6pQs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/nQteO-L7JRo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/wqtIwLLXma0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>
<h2>Vivir del Cuento<h2>
<section>
<iframe width="200" height="200" src="https://www.youtube.com/embed/QT-oyLIdYyQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/0ChViCsViTs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/DCbAHITO_iY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>
</article>


{% include "partials/footer.njk"%}
{% endblock %}