#main-footer {
    text-align: center;
    color: rgb(225, 213, 243);
    background: rgb(92, 72, 30);
    padding: 3em 0.2em 1em 0.2em;
    a {
      color: inherit;
      text-decoration: none;
    }
  }